<form action="/login" method="post">
  <div>
    <label for="email">email: </label>
    <input type="email" id="email" name="email">
  </div>
  <div>
    <label for="password">password: </label>
    <input type="password" id="password" name="password">
  </div>

  <input type="submit" value="login">
</form>

<p>アカウントをお持ちでない方は<a href="/signup">新規登録</a>を行ってください。</p>